{% extends 'users/base.html' %}
{% block title %}
    Tasks
{% endblock title %}
{% load crispy_forms_tags %}
{% block bodycontent %}
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-outline-primary' type="submit" value="submit">
    </form> -->
   {% for report in my_weekly_reports %}
        {% if report.status != 1 %}
            <a href="{% url 'task_task_detail' report.pk %}" >{{ report.t_name }}</a><br>
        {% endif %}
   {% endfor %}
   <table class="table table-hover">
        <thead>
        <tr>
            <th>task name</th>
            <th>report</th>
        </tr>

        </thead>
        <tbody>
            {% for report in reports %}
            {% if report.status == 1 %}
                <tr>
                    <td><a href="{% url 'task_task_detail' report.pk %}">{{ report.t_name }}</a></td>
                    <td>{{ report.report.url }}</td>
                </tr>
            {% endif %}
    {% endfor %}
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>task name</th>
        </tr>

        </thead>
        <tbody>
            {% for report in reports %}
            {% if report.status != 1 %}
                <tr>
                    <td>{{ report.t_name }}</td>
                </tr>
            {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock bodycontent %}