{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Password Reset
{% endblock title %}
{% block bodycontent %}
    <div class="container">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-2 '>Password Reset</legend>
                {% csrf_token %}
                {{form|crispy}}
            </fieldset>
            <div class='form-group mx-auto'>
                <input class='btn btn-outline-primary' type="submit" value="Request Password Reset">
                <a class='btn btn-outline-secondary mx-2' href="{% url 'users_login' %}" >Cancel</a>
            </div>
        </form>
    </div>
{% endblock bodycontent %}